<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
</head>
<body>

<div th:each="person : ${people}">
  <a th:href="@{/people/{id}(id=${person.getId()})}"
     th:text="${person.getName() + ', ' + person.getDateOfBirth()}">user</a>
</div>

<br/>

<form th:method="GET" th:action="@{/people}">
  <label for="pagenumber">Страница: </label>
  <input type="number" min="0" max="100" value="0" name="page" id="pagenumber"/>
  <label for="peopleperlist"> Людей на странице: </label>
  <input type="number" min="0" max="50" value="50" name="people_per_page" id="peopleperlist"/>
  <label for="sorted"> Сортировать по году: </label>
  <input type="checkbox" name="sort_by_year" value="true" id="sorted"/>
  <input type="submit" value="Поиск"/>
</form>

<br/>
<hr/>

<form th:method="GET" th:action="@{/people/new}">
  <input type="submit" value="Создать нового пользователя"/>
</form>

<br/>

<form th:method="GET" th:action="@{/books}">
  <input type="submit" value="Список всех книг"/>
</form>

<br/>

<form th:method="GET" th:action="@{/people/search}">
  <input type="submit" value="Поиск человека"/>
</form>

</body>
</html>